body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Superinfo */
.super-info-bg {
  background: #122AB2;
  color: white;
}

.super-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}

.super-info p, .super-info a {
  margin: 0 10px 10px 10px;
}

.super-info a {
  color: white;
}

/* Menu */
.menu-bg {
  background: #2C70FF;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122AB2;
}

/* Introduction */
.introduction {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* About */
.about {
  border-top: 2px solid #2C70FF;
  border-bottom: 2px solid #2C70FF;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.about-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7C7C7C;
}

.about-image {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* Products */
.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.products-item {
  flex: 1 1 175px;
  margin: 10px;
}

.products-item h2 {
  font-size: 3em;
  color: #A4A4A4;
  background: #F7F7F7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #AE81FF;
}

.pink {
  border-top: 8px solid #F9265E;
}

.blue {
  border-top: 8px solid #66D9EB;

}

/* Price */
.price {
  background: #F7F7F7;
  padding: 60px;
}

.price-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price-item {
  flex: 1 1 260px;
  border: 4px solid #FFFFFF;
  padding: 20px;
  margin: 10px;
}

.price-item h2 {
  font-size: 3em;
  color: #A4A4A4;
  text-align: center;
  margin-top: 20px;
}

.price-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  font-size: 3em;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7C7C7C;
}

.price-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.price-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2C70FF;
}

.price-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

/* Mobile */
@media (max-width: 800px) {
  .price {
    padding-left: 10px;
    padding-right: 10px;
  }

  .price .price-item:nth-child(3) {
    order: -2;
  }

  .price .price-item:nth-child(2) {
    order: -1;
  }
}